@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
    width: 100%;
}

.cards-block {
    width: calc(100% + 1.5rem);
    margin-left: -1.5rem;
}

.card-car {
    flex-basis: 25%;
}

.transform-translate-center {
    transform: translate(-50%, -50%);
}
